__pycache__/
*.py[cod]

.venv/
venv/
env/

.vscode/
.idea/
*.code-workspace

.pytest_cache/
.mypy_cache/

arduino/esp32/vision_arm_esp/.pio/
arduino/esp32/vision_arm_esp/.pioenvs/
arduino/esp32/vision_arm_esp/.piolibdeps/
presentation_deck/node_modules/

arduino/esp32/vision_arm_esp/include/wifi_secrets.h

Thumbs.db
.DS_Store
